@media (max-width: 600px){
  .products {
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  .skills, .mentions{
    display: inherit;
  }
}

@media (max-width: 650px) {

  .main_section{
    padding: 5%;
  }
  .products{
    display: block;
    height: auto;
    padding: 5%;
  }
  .product{
    margin-top: auto;
  }
  .beneficios{
    display: initial;
  }
  .mentions{
    display: initial;
  }
}
